<!--"Hello World"   the command for comment is command + ? button-->

<html>
  <head>
    <title>Luizas Blog</title>
  <%= stylesheet_link_tag "home", media: "all" %> 
  </head>
  <div class="background-image">
  <header>
    <nav class="navigation-bar">
     <ul class= "navigation-items">
       <li class="list-item"><a href="#about" class="btn btn-info navbar-btn">About</a></li>
       <li class="list-item"><a href="#contact" class="btn btn-info navbar-btn">Content</a></li>
       <li class="list-item"><%= link_to "Blog", posts_path, class: "btn btn-info navbar-btn"%></li> 
     </ul>
    </nav>
  </header>
    <body id="homebody">
      <div class= "first_section">
        <h1 class= "title1"> This is a blog about learning how to code </h1>
        <h2 class= "title2"> Welcome!</h2>
      </div>
      <br>
    <footer> 
     <div class=“copyright”>
        <p>Copyright (c) 2017 Copyright Luiza Henry All Rights Reserved.</p>
     </div>
    </footer>
    </body>
  </div>  
</html>
