<!DOCTYPE html>
<html>
 <head>
    <title>JS Test</title>
    <style>
      #player_title {
        font-family: 'helvetica neue', helvetica, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        border: 2px solid rgba(0,0,200,0.6);
        background: rgba(0,0,200,0.3);
        color: white;
        box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
        border-radius: 10px;
        padding: 3px 10px;
        display: inline-block;
        cursor: pointer;
      }
    </style>
 </head>
 <body>
    <div></div>
    <br/>

    
    <script>
// input your original cost
// save the original meal price (var originalMealPrice = document.getElementById('meal_cost')
// click on the add tip button to ask the user how % they want to tip (prompt)
// var tipPercentage = prompt('what tipPercentage')
// save the tipPercentage (declare a variable tipPercentage)
// calculate the tiptotal
// to get it, tipPercentage * meal cost
// display meal total

var start = 1;
while (start < 10) {
  console.log("start: " + start);
  start++; // shorthand for start = start + 1
}


    </script>
 </body>
</html>